.center {
    display: flex;
    justify-content:center;
      align-content: center;
      align-items: center;
      width: 100%;
      padding-left: 32%;
      padding-top: 5%;
    }

.jesusviu{
  --ion-background-color: lightgrey;
}
    