<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Cash Register App"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="center">
  <ion-grid>
    <ion-row class="center">
      <ion-button [routerLink]="['/manager/history']">History</ion-button>
    </ion-row>
    <ion-row class="center">
      <ion-button [routerLink]="['/manager/restoke']">Restoke</ion-button>
    </ion-row>
    <ion-row class="center">
      <ion-button [routerLink]="['/manager/addproduct']">Add New Product</ion-button>
    </ion-row>
    
  </ion-grid>
</div>

</ion-content>
